.containerBaño{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 30px 0px;
    text-align: justify;
  }
  .containerBaño h2{
    font-weight: 900;
    font-size: 3rem;
    font-style: italic;
    padding: 10px;
    text-shadow: 5px 9px 6px rgba(78, 4, 4, 0.98);
  }
  .containerBaño h5{
    font-weight: 900;
    font-style: italic;
    padding: 10px;
  }
  .btnBaño{
    padding: 5px 20px;
    margin: 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: rgb(35, 9, 9);
    text-decoration: none;
    border: 2px solid rgb(35, 9, 9);
  }
  .btnBaño:hover{
    background-color: white;
    color: rgb(35, 9, 9);
  }