*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: rgb(254, 235, 239);
}
.bodyS{
  border: 20px solid rgb(35, 9, 9);
  width: 100vw;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.corner-image {
  position: absolute;
  width: 120px;
  height: 120px;
  background-image: url(./img/huellas-dog-transp.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.corner-top-left {
  top: 85px;
  left: 0;
}

.corner-top-right {
  top: 85px;
  right: 0;
}

.corner-bottom-left {
  bottom: 0;
  left: 10;
}

.corner-bottom-right {
  bottom: 0;
  right: 0;
}

/* componente NAVBAR */
.navbarPet{
  background-color: rgb(252, 219, 224);
}
.btnNavbar{
  justify-content: space-around;
  gap: 15px;
  background-color: rgb(250, 193, 203);
  padding: 10px 20px;
}
.btnNB{
  color: blue;
  border-color: blue;
  background-color: rgb(250, 193, 203);
}
.btnNB:hover{
  background-color: blue;
  border-color: blue;
  color: white ;
}
/* componente FOOTER */
.containerFooter{
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px dotted rgba(65, 15, 36, 0.753);
  margin-top: 10px;
  box-sizing: border-box;
}
.divIcons{
 margin: 7px;
 color: rgba(65, 15, 36, 0.753);
 font-size: 30px;
}

@media (max-width: 767px){
  .imgH{
    max-width: 150px;
  }
  .corner-image {
    width: 50px;
    height: 50px;
  }
  .mainHome{
    height: auto;
    padding: 35px 10px;
  }
  .bodyS{
    height: auto;
    border: 8px solid rgb(35, 9, 9);
  }
  .containerFooter{
    display: flex;
    flex-direction: column;
  }
}